In [ ]:
#pandas is data manupulation library
#pandas series is like column in table
#1D array

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#series from list#list mutabAL
#string
country =['India','Pakisthan','USA','Nepal','Srilanka']
pd.Series(country)

In [ ]:
#integer
runs= [13,24,56,79,100]
runs_Ser = pd.Series(runs)

In [ ]:
#custom index
marks=[56,67,43,78]
subject=['math','english','hgshasha','dghdgshd']
pd.Series(marks,index=subject)

In [ ]:
#setting a name
marks = pd.Series(marks,index=subject,name='ram ke marks')
marks

In [ ]:
marks={
    'math':45,
    "english":67,
    'science':43,
    "hindi":78}
marks_Series=pd.Series(marks,name='ram ke marks')
marks_Series

In [ ]:
#size
marks_Series.size

In [ ]:
#dtype
marks_Series.dtype

In [ ]:
#name
marks_Series.name

In [ ]:
#is_unique
marks_Series.is_unique
pd.Series([1,2,3,1,2,3,5]).is_unique

In [ ]:
#index
marks_Series.index

In [ ]:
#value
marks_Series.values

Series using read_csv

In [ ]:
#with one col
subs=pd.read_csv('subs.csv',squeeze=True)
subs

In [ ]:
#with one col
subs=pd.read_csv('subs.csv',squeeze=False)
subs

In [ ]:
#with two col
vk=pd.read_csv('/content/kohli_ipl.csv',index_col='match_no',squeeze=True)
vk

In [ ]:
vk.size

In [ ]:
vk.index

In [ ]:
vk.values

In [ ]:
movies=pd.read_csv('/content/bollywood.csv',index_col='movie',squeeze=True)
movies

In [ ]:
movies.size

In [ ]:
movies.values

In [ ]:
movies.index

In [ ]:
#head and tail
movies.head()

In [ ]:
movies.tail()

In [ ]:
#samples
movies.sample()

In [ ]:
movies.sample()

In [ ]:
movies.sample()

In [ ]:
movies.value_counts()

In [ ]:
#sort_values ===inplace
vk.sort_values(ascending=False).head(1).values[0]

In [ ]:
vk.sort_values(ascending=True).head(1).values[0]

In [ ]:
subs.sort_values( by='Subscribers gained',ascending=False).head(1).values[0]#head(1)means top 1 record

In [ ]:
movies.sort_index(ascending=False,inplace=True)
movies

In [ ]:
subs.sum()

In [ ]:
#mean meadian mode std var
subs.mean()
print(vk.median())
print(movies.mode())
print(subs.std())
print(vk.var())

In [ ]:
#slicing
vk[5:16]

In [ ]:
subs[5:16]

In [ ]:
vk[-5:]

In [ ]:
movies[::2]

In [ ]:
#fancy indexing
vk[[1,2,3,4]]

In [ ]:
#indexing with labels-- fancy indexing
movies['2 Zindagi Tere Naam ']

In [ ]:
#adding new index
marks_Series['evs']=100
marks_Series

In [ ]:
#arithematic oprators
100+ marks_Series

In [ ]:
10-marks_Series

In [ ]:
#relatinal_ opreator
vk>=50

In [ ]:
subs <=30

boolean indexing on series

In [ ]:
#find no of 50's and 100 scored by kohli
vk[vk>=50].size

In [ ]:
#find number of duks
vk[vk==0].size

In [ ]:
#count number of day when

In [ ]:
#when we count greater than 20
num_movies=movies.value_counts()
num_movies[num_movies>20]

In [ ]:
subs.plot()

In [ ]:
vk.plot()

In [ ]:
movies.plot()

In [ ]:
movies.value_counts().head(20).plot(kind='pie')

In [ ]:
#astype
import sys
sys.getsizeof(vk)

In [ ]:
sys.getsizeof(vk.astype('int16'))

In [ ]:
#between
vk[vk.between(51,99)].size

In [ ]:
subs.clip(100,200)

In [ ]:
#drop duplicates
temp=pd.Series[(1,2,4,5,6,6,8,8,8)]
temp.drop_duplicates(keep='last')

In [ ]:
temp.duplicayted().sum()

In [ ]:
#dropna
vk.dropna

In [ ]:
#fillna
vk.fillna(vk.mean())

In [ ]:
fillna

In [ ]:
#apply